.admin-dog-list-container {
  min-height: calc(100vh - var(--altura-navbar));
  margin-top: var(--altura-navbar);
  padding: 30px;
}


.admin-dog-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* HEADER: Title + Add Button */
.dog-admin-header{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}


.dog-admin-add-button{
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 12px 20px;
    border-radius: 10px;
    border: none; 

    background-color: var(--pink-colour);
    color: white;
    font-weight: 600;
}

.dog-admin-add-button:hover{
    background-color: var(--pink-colour-hover);
    color: white;
}

/* FILTERS*/

.admin-dog-filter-container{
    margin: 0 auto 25px;
}
.admin-dog-filter-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

  /*  TEXT */
.dog-filter-text{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f3f3f3;
}

.dog-filter-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.admin-dog-filter-item{
   width: 200px;
}

.admin-dog-filter-breed{
  width: 250px;
}
@media (max-width: 700px) {
    .admin-dog-filter-flex {
        flex-direction: column;
        align-items: center;
    }

    .admin-dog-filter-item, .admin-dog-filter-breed{
        width: 100%;
    }
}